<footer>
  <span>
    <span class="sr-only"
      >A vegan and gluten free bakery based in Seattle, Washington.</span
    >
    <h3><a (click)="scrollToTop()" class="topLink">Scroll to Top</a></h3>
    <mat-slide-toggle
      (click)="toggleTheme()"
      color="accent"
      [(ngModel)]="darkMode"
      >Dark Mode</mat-slide-toggle
    >
    <h4>© {{ year }} HER Kitchen Seattle</h4>
    <h3>Social Media:</h3>
    <h4>
      <a
        href="https://herkitchenseattle.com/facebook"
        target="_blank"
        class="fb"
        >Facebook</a
      >
      <a
        href="https://herkitchenseattle.com/instagram"
        target="_blank"
        class="insta"
        >Instagram</a
      >
    </h4>
    <h3>This website is open source.</h3>
    <h4>
      <a href="https://github.com/HERKitchenSeattle/website" target="_blank"
        ><i class="github-logo"></i>View project on GitHub</a
      >
    </h4>
    <h3>Links:</h3>
    <h4 class="links">
      <a (click)="scrollToTop()" routerLink="/">Home</a>
      <a (click)="scrollToTop()" routerLink="/about">About</a>
      <a (click)="scrollToTop()" routerLink="/menu">Menu</a>
      <a (click)="scrollToTop()" routerLink="/events">Events</a>
      <a (click)="scrollToTop()" routerLink="/contact">Contact</a>
      <br />
      <a (click)="scrollToTop()" routerLink="/admin/login">Admin</a>
    </h4>
  </span>
</footer>
