@use '../../variables';

.back-to-top {
  background: darken(variables.$primary, 20%);
  // a {
  //   color: white;
  // }
}
footer {
  // width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  height: fit-content;
  display: flex;
  text-align: center;
  flex-direction: column;
  background: variables.$primary;
  width: 100%;
  color: #200f09;
  // margin-top: 25px;
}
.socials {
  display: flex;
  align-items: center;
}
// a[href="https://herkitchenseattle.com/#/instagram"]
// {
//   margin-top: 25px;
//   padding-top: 10px;
// }

.break {
  flex-basis: 100%;
  height: 0;
}
.h5 {
  font-size: 1.25rem;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  text-align: start;
}
.back-to-top-btn {
  position: absolute;
  display: flex;
  width: 100%;
  height: 60px;
  text-align: center;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 25px;
  background: #ffeb3b;
}
.other-footer {
  position: absolute;
  display: flex;
  width: 100%;
  height: fit-content;
  // text-align: center;
  // justify-content: center;
  margin-top: 25px;
}
.navFooterBackToTop {
  margin-bottom: 40px;
  background: #ffeb3b;
}
#navFooter .navFooterBackToTop span {
  display: block;
  text-align: center;
  padding: 15px 0;
  font-size: 13px;
}
.fb {
  margin-right: 5px;
}
.insta {
  margin-left: 5px;
}
.topLink {
  cursor: pointer;
}
h4.links {
  display: flex;
  flex-direction: column;
}
.github-logo {
  content: url('../../assets/github.svg');
}
i {
  height: 1em;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.mobile .footer-grid {
  display: flex !important;
  text-align: center !important;
  flex-direction: column !important;
  align-items: center !important;
  align-content: center !important;
}
