<main class="main">
  <!-- <button mat-flat-button color="accent" (click)="openMessageDialog()">
    Send us a message
  </button> -->
  <mat-divider></mat-divider>
  <h1>Socials:</h1>

  <h2>
    Facebook
    <a target="_blank" href="https://herkitchenseattle.com/facebook"
      >@HERKitchenSeattle</a
    >
    <br />
    Instagram
    <a
      href="http://herkitchenseattle.com/instagram"
      target="_blank"
      rel="noopener noreferrer"
      >@herkitchenseattle</a
    >
  </h2>
  <mat-divider></mat-divider>
  <h1>Contact us by Facebook Messenger:</h1>

  <h2>
    <a target="_blank" href="https://m.me/HERKitchenSeattle"
      >Link to Facebook Messenger</a
    >
    <br />
    Or by email:
    <br />
    <a target="_blank" href="mailto:laura_allen@outlook.com"
      >laura_allen@outlook.com</a
    >
  </h2>
</main>
