<script>
  import { MDCDialog } from '@material/dialog';
  const dialog = new MDCDialog(document.querySelector('.mdc-dialog'));
  function openDialog() {
    dialog.listen('MDCDialog:opened', function () {
      // Assuming contentElement references a common parent element with the rest of the page's content
      contentElement.setAttribute('aria-hidden', 'true');
    });
    dialog.listen('MDCDialog:closing', function () {
      contentElement.removeAttribute('aria-hidden');
    });
  }
</script>
<mat-toolbar class="navbar" id="top" color="primary">
  <mat-toolbar-row class="left-align">
    <div class="navbar-left-container">
      <div fxShow="true" fxHid.gt-sm="true" class="sidenav-toggle">
        <button mat-icon-button (click)="openDialog()">
          <span class="material-icons md-dark">menu</span>
        </button>
      </div>
      <div class="page-links">
        <button
          mat-icon-button
          color="secondary"
          aria-label="Home"
          matTooltip="Home Page"
          routerLink="/"
        >
          <span class="material-icons md-dark">home</span>
        </button>

        <a
          *ngFor="let page of pages"
          class="{{ page.name.toLowerCase() }} navbar-link"
          routerLinkActive="nav-link-active"
          color="secondary"
          attr.aria-label="{{ page.name }}"
          matTooltip="{{ page.tooltip }}"
          routerLink="/{{ page.name.toLowerCase() }}"
        >
          {{ page.name }}
        </a>
      </div>
    </div>
    <!-- <div class="toolbar-container"> -->
    <!-- <div> -->
    <div class="navbar-middle-container">
      <a
        class="navbar-brand home-logo"
        color="secondary"
        mat-button
        routerLink="/"
        aria-label="HER Kitchen"
        mat-tooltip="HER Kitchen Home"
      >
        <img
          src="../../assets/images/s-icon.png"
          alt="HER Kitchen Logo"
          height="76"
          width="76"
          class="epic-logo-lol"
        />
      </a>
    </div>

    <div class="navbar-right-container">
      <div class="right-icons">
        <a
          mat-button
          routerLink="/facebook"
          target="_blank"
          rel="noreferrer"
          matTooltip="HER Kitchen Facebook"
          aria-label="Our Facebook"
        >
          <i class="fb-logo"></i>
        </a>
        <a
          mat-button
          routerLink="/instagram"
          target="_blank"
          rel="noreferrer"
          matTooltip="HER Kitchen Instagram"
          aria-label="Our Instagram"
        >
          <i class="insta-logo"></i>
        </a>
        <a mat-button (click)="share()" matTooltip="Share this page">
          <span class="material-icons md-dark">share</span>
        </a>
      </div>
      <div class="right-dropdown">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="More">
          <span class="material-icons md-dark">more_vert</span>
        </button>
        <mat-menu #menu="matMenu">
          <ng-template matMenuContent>
            <button mat-menu-item routerLink="/facebook">Facebook</button>
            <button mat-menu-item routerLink="/instagram">Instagram</button>
            <button mat-menu-item (click)="share()">Share</button>
          </ng-template>
        </mat-menu>
      </div>
      <div class="profile-stuff" style="display: none">
        <button
          mat-icon-button
          [matMenuTriggerFor]="profileMenu"
          aria-label="Profile"
        >
          <span class="material-icons md-dark profile-button">
            account_circle
          </span>
        </button>
        <mat-menu #profileMenu="matMenu">
          <ng-template matMenuContent>
            <button mat-menu-item routerLink="/admin">Dashboard</button>
            <button mat-menu-item routerLink="/admin/events">Events</button>
            <button mat-menu-item routerLink="/admin/messages">Messages</button>
            <mat-divider></mat-divider>
            <button mat-menu-item routerLink="/admin/sign-out">Sign Out</button>
          </ng-template>
        </mat-menu>
      </div>

      <!-- <button mat-button class="dark-mode-button" color="secondary">
        Dark Mode
      </button> -->
    </div>
  </mat-toolbar-row>
</mat-toolbar>
