<main>
  <h1>Events</h1>
  <mat-card *ngFor="let event of events | async">
    <mat-card-header>
      <mat-card-title>{{ event.name }}</mat-card-title>
      <mat-card-subtitle
        >{{ event.location }}<br />
        <a
          href="https://www.google.com/maps/search/?api=1&query={{
            encodeURIComponent($any(event).address)
          }}"
          target="_blank"
          >{{ $any(event).address }}</a
        >
      </mat-card-subtitle>
    </mat-card-header>
    <img
      *ngIf="event.imageUrl"
      src="{{ event.imageUrl }}"
      alt="{{ event.name }}"
    />
    <mat-card-content>
      <h3>
        {{ event.startDate }} to
        {{ event.endDate }}
      </h3>
      <h3>{{ $any(event).otherTimeStuff }}</h3>
      <p *ngIf="event.description">
        {{ event.description }}
      </p>
      <h6>ID: {{ event.id }}</h6>
    </mat-card-content>
  </mat-card>
</main>
