.menu-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

mat-list {
  margin-bottom: 25px;
}
a[mat-list-item] {
  cursor: pointer;
}
.item-header {
  margin-bottom: 25px;
  margin-top: 10px;
}
.menu-image {
  width: calc(100% + 32px);
  margin: 0 -16px 16px -16px;
  height: auto;
}
mat-card {
  display: grid;
  place-items: center;
}
main {
  padding-bottom: 25px;
}

img {
  vertical-align: middle;
  border: 0;
  width: 200px;
  height: 200px;
}

main {
  margin-top: 25px;
  text-align: center;
  align-items: center;
  $padding: 100px;
  padding-left: $padding;
  padding-right: $padding;
}
@media only screen and (max-width: 841px) {
  main {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (max-width: 535px) {
  main {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media only screen and (max-width: 525px) {
  main {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

h2 {
  line-height: 1.6;
}

mat-expansion-panel {
  max-width: 400px;
}

.hidden {
  display: none;
}
.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
a {
  color: #fff;
  font-size: 16px;
  margin-top: 6px;
  margin-bottom: 6px;
  text-align: left;
}
mat-expansion-panel-header {
  font-size: 20px;
}
mat-expansion-panel {
  margin-bottom: 5px;
}
