#spinner {
  margin-top: 35px;
  margin-bottom: 35px;
  align-self: center;
}
.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
div#main-content {
  position: relative;
}
