<main>
  <section class="example-button-container" id="enabled-contact">
    <div
      *ngIf="!enabled"
      matTooltip="To prevent abuse, messages can only be sent once per day."
    >
      <button
        aria-label="Message Us"
        mat-fab
        disabled
        matTooltip="To prevent abuse, messages can only be sent once per day."
      >
        <mat-icon color="dark">question_answer</mat-icon>
      </button>
    </div>

    <button
      aria-label="Message Us"
      matTooltip="Send us a message!"
      mat-fab
      *ngIf="enabled"
      (click)="openMessageDialog()"
    >
      <mat-icon color="dark">question_answer</mat-icon>
    </button>
  </section>
  <section class="example-button-container" id="disabled-contact"></section>
</main>
