<main class="main">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="example-container">
        <form class="login">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input
              matInput
              [(ngModel)]="emailVal"
              class="email"
              name="email"
              placeholder="pat@example.com"
              [formControl]="email"
              required
            />
            <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input
              [(ngModel)]="passwordVal"
              spellcheck="false"
              name="password"
              matInput
              required
              class="password"
              [type]="hide ? 'password' : 'text'"
            />
          </mat-form-field>
          <br />
          <button
            [disableRipple]="true"
            class="passwordButton"
            color="accent"
            mat-button
            (click)="passwordToggle()"
          >
            {{ hide ? 'Show' : 'Hide' }} password
          </button>
          <br />
          <button
            class="signInButton g-recaptcha"
            mat-flat-button
            color="accent"
            id="signInButton"
          >
            Log in
          </button>
          <button
            routerLink="/admin"
            mat-flat-button
            id="goToDash"
            color="accent"
          >
            Go to dashboard
          </button>
          <br />
          <button
            class="resetPasswordButton"
            (click)="resetPassword()"
            mat-button
            color="accent"
          >
            Reset Password
          </button>

          <button
            class="signOutButton"
            routerLink="/admin/sign-out"
            mat-button
            color="accent"
          >
            Log out
          </button>
        </form>
      </div>

      <span class="message">{{ message }}</span>
      <br />
      <span class="message" *ngIf="loginMessage">{{ loginMessage }}</span>
      <br />
      <span *ngIf="errCode || errCode != ''" class="errCode"
        >Code: {{ errCode }}</span
      >
    </mat-card-content>
  </mat-card>
</main>
