@use "sass:color";
/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;
@use 'variables';
@include mat.core();
@import '~bootstrap/scss/bootstrap';
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss'; // MDB SCSS
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
$utilities: map-merge(
  $utilities,
  (
    'color': (
      property: color,
      class: color,
      values: (
        0: #000,
        25: #464646,
        50: #808080,
        75: rgb(182, 182, 182),
        100: #ffffff,
      ),
    ),
  )
);

[color='dark'] {
  color: #200f09;
}
.carousel-control-next-icon::after {
  content: '\e5e1';
  font-family: 'Material Icons';
}
.carousel-control--icon::after .material-icons.md-dark {
  color: #200f09;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
body {
  color: #fff;
}
a {
  color: variables.$accent;
  text-decoration: none;
  &:hover {
    color: variables.$accent;
    text-decoration: underline;
  }
}
.mat-snack-bar-container {
  background: #424242 !important;
  color: #fff !important;
}
.mat-list-item-content {
  margin-bottom: 5px;
}
.mat-card-header .mat-card-title {
  margin-top: 10px;
}
.mat-card > :last-child:not(.mat-card-footer),
.mat-card-content > :last-child:not(.mat-card-footer) {
  margin: 10px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}
.mat-card {
  background: #424242 !important;
  color: #fff !important;
}
.navbar {
  position: -webkit-sticky !important;
}
.mat-card-subtitle {
  color: hsla(0, 0%, 100%, 0.7) !important;
}
.mat-divider {
  border-top-color: hsla(0, 0%, 100%, 0.12) !important;
}
.mat-option {
  color: #fff !important;
}
.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  color: rgba(0, 0, 0, 0.87) !important;
}
.mat-warn {
  color: variables.$warn;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: color.adjust(variables.$accent, $lightness: 20%) !important;
}
.mat-table {
  background: #424242 !important;
  color: #fff !important;
}
.mat-cell,
.mat-footer-cell {
  color: hsla(0, 0%, 100%, 0.7) !important;
}
tr.example-message-row:not(.example-expanded-row):hover {
  background: #363636 !important;
}
mat-row,
mat-header-row,
mat-footer-row,
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  color: hsla(0, 0%, 100%, 0.7) !important;
}
