/* You can add global styles to this file, and also import other style files */
@import './assets/tailwind.min.css';

@import './variables';
[theme='dark'] {
  @import './assets/purple-green.css';
  @import './assets/real-purple-green.css';
}

@include mat-core();
$primary: mat-palette($mat-yellow, 500);
$accent: mat-palette($mat-pink, 500);

.material-icons.md-dark {
  color: #000;
}
* {
  font-display: swap !important;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
body {
  color: #fff;
}
a {
  color: mat-color($accent);
  text-decoration: none;
  &:hover {
    color: mat-color($accent);
    text-decoration: underline;
  }
}
.mat-snack-bar-container {
  background: #424242 !important;
  color: #fff !important;
}
.mat-list-item-content {
  margin-bottom: 5px;
}
.mat-card-header .mat-card-title {
  margin-top: 10px;
}
.mat-card > :last-child:not(.mat-card-footer),
.mat-card-content > :last-child:not(.mat-card-footer) {
  margin: 10px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}
.mat-card {
  background: #424242 !important;
  color: #fff !important;
}

.mat-card-subtitle {
  color: hsla(0, 0%, 100%, 0.7) !important;
}
.mat-divider {
  border-top-color: hsla(0, 0%, 100%, 0.12) !important;
}
.mat-option {
  color: #fff !important;
}
.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  color: rgba(0, 0, 0, 0.87) !important;
}
.mat-warn {
  color: $warn;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: lighten(mat-color($accent), 20%) !important;
}
.mat-table {
  background: #424242 !important;
  color: #fff !important;
}
.mat-cell,
.mat-footer-cell {
  color: hsla(0, 0%, 100%, 0.7) !important;
}
tr.example-message-row:not(.example-expanded-row):hover {
  background: #363636 !important;
}
mat-row,
mat-header-row,
mat-footer-row,
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  color: hsla(0, 0%, 100%, 0.7) !important;
}
