@charset 'utf-8';
@use 'variables';
@use 'sass:color';
@use '~@angular/material' as mat;
@include mat.core();

@import '~bootstrap/scss/functions';

@import '~bootstrap/scss/bootstrap';

:root {
  --bs-font-sans-serif: Roboto, 'Segoe UI', sans-serif;
  --bs-font-monospace: 'Fira Code', SFMono, Consolas, monospace;
}
* {
  scroll-behavior: smooth;
}
mat-card.mat-card {
  display: grid;
  place-items: center;
}
.mobile .footer-grid {
  display: flex !important;
  text-align: center !important;
  flex-direction: column !important;
  align-items: center !important;
  align-content: center !important;
}
body {
  color: rgba(0, 0, 0, 0.87);
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f555;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  $thumb-color: #f48fb1;
  background-color: $thumb-color;
  &:hover {
    background-color: darken($thumb-color, 10);
  }
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  height: 50px;
  width: 50px;
}
.carousel-control-prev-icon::before {
  font-family: 'Material Icons';
  content: '\e2ea';
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel-control-next-icon::before {
  font-family: 'Material Icons';
  content: '\e5e1';
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::selection {
  background: variables.$accent;
  color: white;
}
::-moz-selection {
  background: variables.$accent;
  color: white;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', 'Segoe UI', sans-serif;
}

[color='dark'] {
  color: #200f09;
}

.material-icons.md-dark {
  color: #200f09;
}
a {
  color: variables.$accent;
  text-decoration: none;
  &:hover {
    color: variables.$accent;
    text-decoration: underline;
  }
}

.mat-list-item-content {
  margin-bottom: 5px;
}
.mat-card-header .mat-card-title {
  margin-top: 10px;
}
.mat-card > :last-child:not(.mat-card-footer),
.mat-card-content > :last-child:not(.mat-card-footer) {
  margin: 10px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
}

.mat-warn {
  color: variables.$warn;
}
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}
// @media only screen and (max-width: 1200px) {
//   body.desktop #carouselExampleIndicators {
//     margin: 30px !important;
//   }
// }
